{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="w-11/12 mx-auto py-3">
    <div class="flex ">
        <div class="w-6/12">
            <h2 class="text-4xl font-bold">{{c.model_name}}</h2>
            <br>
            <p>{{c.des}}</p>
        </div>
        <div class="w-6/12"><img src="{{c.image.url}}" alt=""></div>
    </div>
    <br>
    <h2 class="text-2xl font-bold">Price: ${{c.price}}</h2>
    <h2></h2>
    {% if request.user.is_authenticated %}
    <button class="btn btn-soft btn-success">Buy Now</button>
    {% endif %}

</section>
<section class="w-6/12 mx-auto ">

    <div class="mb-6">
        <h1 class="text-3xl font-bold">All Comments</h1>
    {% for com in comments %}
    <div class="card w-96 bg-base-100 card-xs shadow-sm">
        <div class="card-body">
            <h2 class="card-title"><h1 class="text-3xl">{{com.name}}</h1> {{com.create_on}}</h2>
            <p>{{com.body}}</p>
        </div>
    </div>
    {% endfor %}
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{comments_form | crispy}}
            <button class="btn btn-soft btn-success">Submit</button>
        </form>

    </div>
</section>
{% endblock %}